iac/asl.json
{
    "StartAt": "Input",
    "States": {
        "Input": {
            "Type": "Pass",
            "Next": "Logic"
        },
        "Logic": {
            "Type": "Task",
            "Resource": "${Fn}",
            "ResultSelector": {
                "output": {
                    "stateData": {
                        "t1.$": "States.ArrayGetItem($[*].output.stateData.t1, 0)",
                        "t3.$": "States.ArrayGetItem($[*].output.stateData.t3, 0)",
                        "t6.$": "States.ArrayGetItem($[*].output.stateData.t6, 0)"
                    }
                }
            },
            "Next": "Output"
        },
        "Output": {
            "Type": "Pass",
            "End": true
        }
    }
}