iac/asl.json
{
    "StartAt": "Input",
    "States": {
        "Input": {
            "Type": "Pass",
            "Next": "Logic"
        },
        "Logic": {
            "Type": "Task",
            "Resource": "${Fn}",
            "ResultSelector": {
                "transformed.$": "$.objects[*].key"
            },
            "ResultPath": "$.result",
            "OutputPath": "$",
            "Next": "Output"
        },
        "Output": {
            "Type": "Pass",
            "End": true
        }
    }
}